



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic line Charts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



  <style>

    body {
       background: url(image5.jpg)  no-repeat center center fixed;
       background-size: 100% 100%;
       height: 100%;
       position: absolute;
       width: 100%;
     }
     </style>
</head>

<body style="background-color:burlywood">

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 style="color: coral;">co2 emission by all country</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>

  <!-- my JS Code -->
  <script src="seperatelineplot.js"></script>
  

</body>

</html>